*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #1f1b0c;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 80vh;
    border-radius: 30px;
}